<div class="gap-12 md:relative md:mt-4 md:flex md:w-auto md:flex-row">
  <div
    class="hidden md:absolute md:bottom-0 md:left-0 md:block md:h-4 md:w-full md:bg-gradient-to-t md:from-[#1a1b1f]"
  ></div>
  <div
    class="mb-10 flex h-[128px] items-center gap-4 md:gap-1 overflow-x-auto border-b-[1px] border-t-[1px] border-[#44474e] bg-[#0F0F12] pl-2 md:m-0 md:mt-4 md:h-auto md:max-h-[520px] md:w-[260px] md:flex-col md:items-stretch md:overflow-auto md:overflow-x-hidden md:border-0 md:bg-inherit md:pr-2"
  >
    <h2
      class="-m-6 -rotate-90 text-nowrap text-sm md:m-0 md:rotate-0 md:text-lg"
    >
      <strong class="w-full">My Heroes</strong>
    </h2>
    <div
      class="flex min-h-20 min-w-20 cursor-pointer items-center justify-center rounded-lg border-2 border-solid border-[#44474E] bg-[#30323] text-[8px] hover:bg-[#30323a] md:h-auto md:min-h-[60px] md:w-auto md:text-sm"
      [class]="addMode() ? 'bg-[#44474E]' : ''"
      (click)="onAddNewClick()"
    >
      + Add Hero
    </div>
    @if (filteredMyHeroes() !== null) {
      @if (filteredMyHeroes()?.length === 0) {
        <div
          class="flex min-h-20 min-w-20 items-center justify-center rounded-lg bg-[#44474e] md:min-h-[60px]"
        >
          <span class="w-16 text-center text-[12px] md:w-auto md:text-inherit">
            No heroes found
          </span>
        </div>
      } @else {
        @for (myHero of filteredMyHeroes(); track myHero.id) {
          <app-banner
            [title]="myHero.name"
            [selected]="selectedHero()?.id === myHero.id"
            [name]="myHero.name"
            [image]="myHero.images.lg"
            [id]="myHero.id"
            [editMode]="true"
            (edit)="onBannerEditClick($event)"
            (delete)="onBannerDeleteClick($event)"
            (click)="onBannerClick($event)"
          />
        }
      }
    } @else {
      @for (myHero of currentMyHeroes(); track myHero.id) {
        <app-banner
          [title]="myHero.name"
          [selected]="selectedHero()?.id === myHero.id"
          [name]="myHero.name"
          [image]="myHero.images.lg"
          [id]="myHero.id"
          [editMode]="true"
          (edit)="onBannerEditClick($event)"
          (delete)="onBannerDeleteClick($event)"
          (click)="onBannerClick($event)"
        />
      }
    }
    <h2
      class="md:mt-4 -ml-4 -mr-6 -rotate-90 text-nowrap text-sm md:m-0 md:rotate-0 md:text-lg"
    >
      <strong>Database</strong>
    </h2>
    @if (filteredHeroes() !== null) {
      @if (filteredHeroes()?.length === 0) {
        <div
          class="flex min-h-20 min-w-20 items-center justify-center rounded-lg bg-[#44474e] md:min-h-[60px]"
        >
          <span class="w-16 text-center text-[12px] md:w-auto md:text-inherit">
            No heroes found
          </span>
        </div>
      } @else {
        @for (hero of filteredHeroes(); track hero.id) {
          <app-banner
            [title]="hero.name"
            [selected]="selectedHero()?.id === hero.id"
            [name]="hero.name"
            [image]="hero.images.lg"
            [id]="hero.id"
            (click)="onBannerClick($event)"
          />
        }
      }
    } @else {
      @for (hero of currentHeroes(); track hero.id) {
        <app-banner
          [title]="hero.name"
          [selected]="selectedHero()?.id === hero.id"
          [image]="hero.images.lg"
          [id]="hero.id"
          (click)="onBannerClick($event)"
          [name]="hero.name"
        />
      }
      @if (currentHeroes()?.length !== heroes().length) {
        <button
          mat-button
          (click)="onShowMoreClick()"
          class="mr-4 md:mb-4 md:mr-0 md:min-h-8 md:mt-2"
        >
          More
        </button>
      }
    }
  </div>
  <div class="px-8 md:mb-0 md:mt-4 md:w-auto md:px-0">
    @if (editMode() === true || addMode() === true) {
      <div class="mb-20 md:mb-0">
        <app-form
          [lastId]="lastId()"
          [editMode]="editMode()"
          [data]="selectedHero()"
          (edit)="onEditFormItem($event)"
          (close)="onCloseForm()"
          (add)="onAddFormItem($event)"
        />
      </div>
    } @else {
      <div class="mb-12 md:mb-0">
        <app-card
          [title]="selectedHero()?.name"
          [image]="selectedHero()?.images?.lg"
          [biography]="selectedHero()?.biography"
          [powerstats]="selectedHero()?.powerstats"
        />
      </div>
    }
  </div>
</div>
