<form>
  <mat-form-field>
    <mat-label>Find your hero ...</mat-label>
    <div class="justify-center-center flex">
      <input
        type="text"
        placeholder="Hero name"
        aria-label="Hero name"
        matInput
        (keyup.Enter)="searchHero()"
        (blur)="searchHero()"
        [(ngModel)]="searchInput"
        name="searchInput"
      />
      @if (searchInput()) {
        <button
          mat-icon-button
          aria-label="Edit button"
          (mouseup)="resetSearchHero($event)"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  </mat-form-field>
</form>
