.mat-mdc-icon-button {
  height: 24px !important;
  width: 24px !important;
  padding: 0px !important;
  .mat-mdc-button-touch-target {
    height: auto !important;
    width: auto !important;
  }
}

mat-form-field {
  width: 100%;
}

mat-icon {
  font-size: 16px;
  margin-top: 4px;
}
