::ng-deep {
  :root {
    --mdc-icon-button-state-layer-size: 24px;
  }
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    height: auto !important;
    width: auto !important;
  }
}

mat-form-field {
  width: 100%;
}

mat-icon {
  font-size: 18px;
  height: auto;
  width: auto;
  padding-top: 3px;
}