// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@tailwind base;
// @tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$dark-super-heroes-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($dark-super-heroes-theme);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0;
  }

  /** Scrollbar Width **/
  ::-webkit-scrollbar {
    width: 4px;
  }
  /** Scrollbar Track **/
  ::-webkit-scrollbar-track {
    background: #16171b;
    background-clip: padding-box;
  }
  /** Scrollbar Handle **/
  ::-webkit-scrollbar-thumb {
    background: #444756;
  }
  /** Scrollbar Handle on hover **/
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($dark-super-heroes-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($dark-super-heroes-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
